{{>layout/header}}
<!--margin : mt, mr, mb, ml (1~5) ex) mt-5-->
<div class="container mt-2">
  <div class="mt-4 p-5 bg-light text-body rounded">
    <h1>Bank v1 은행입니다</h1>
  </div>
</div>
<!-- .container end -->
{{>layout/footer}}